body
{
	background-color: gray;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color: black;
	
}

h1
{
	font-size: 30px;
	color: #ff6600;
}

h2
{

color: white; 
font-size: 27px;

}

/* Nieodwiedzony link */

a:link
{
	color:#ff9900;

}

/* Odwiedzony link */

a:visited
{
	color:#ff9900;

}

/* Link po najechaniu kursorem */

a:hover
{
	color:#FFFF00;

}

#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#logo
{
	background-color: black;
	text-align: center;
	padding: 10px;
	font-weight: 900;

}

#navy
{
	float: left;
	background-color: darkgrey;
	width: 200px;
	min-height: 620px;
	padding: 10px;
}

#content
{
	float: left;
	padding: 20px;
	width: 560px;
	min-height: 600px;

}

#ad
{
	float: left;
	width: 160px;
	min-height:620px;
	padding: 10px;
	background-color: darkgrey;
}

#footer
{
	clear: both;
	background-color: black;
	color: white;
	text-align: center;
	padding: 20px;

}

.menu
{
		text-align: center;
		min-height: 50px;
		border-bottom: 4px dotted ;	
		opacity: 0.8;
}

.menu:hover
{
	background-color: lightgrey;
	
}